@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MojangABC';
    src: url('/fonts/MOJANG-ABC_1.0.0.ttf') format('truetype');
  }

.font-mojang {
    font-family: 'MojangABC';
  }